<div ng-controller="sportCtrl as sportCtrl">
    <div id="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#country-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Sales</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="country-navbar">
                    
                    <button id="refreshBtn" class="btn btn-default navbar-btn" ng-hide="sportCtrl.editMode" ng-click="sportCtrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                    <button id="saveBtn" class="btn btn-default navbar-btn" ng-show="sportCtrl.editMode" ng-click="sportCtrl.saveRecord()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                    <button id="cancelBtn" class="btn btn-default navbar-btn" ng-show="sportCtrl.editMode" ng-click="sportCtrl.fetchRecords()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>
        </nav>
    </div>
    <div ng-hide="sportCtrl.editMode">
        <table id="recordList" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID Sale</th>
                    <th>Offer Sold</th>
                    <th>Image URL</th>
                    <th>Sale Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>User</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="record in records" ng-if="sportCtrl.isSale(record)">
                    
                    <td>{{record.idSale}}</td>
                    <td>{{record.name}}</td>
                    <td><img style="width:100%" alt="{{record.name}}" src="{{record.imageUrl}}"/></td>
                    <td>{{record.saleDate}}</td>
                    <td>{{record.price}}</td>
                    <td>{{record.quantity}}</td>
                    <td>{{record.userName}}</td>
                    <td>
                        <button id="editBtn" class="btn btn-default btn-sm" ng-click="sportCtrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                        <button id="deleteBtn" class="btn btn-default btn-sm" ng-click="sportCtrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination total-items="totalItems" ng-model="currentPage" ng-change="sportCtrl.pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="itemsPerPage"></pagination>
    </div>
    <div ng-show="sportCtrl.editMode">
        <form name="countryForm" role="form">
            <div class="form-group">
                <label for="idSale">ID Sale</label>
                <input id="idSale" class="form-control" type="text" ng-model="currentRecord.idSale"/>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" ng-model="currentRecord.name"/>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input id="imageUrl" class="form-control" type="text" ng-model="currentRecord.imageUrl"/>
            </div>
            <div class="form-group">
                <label for="saleDate">Sale Date</label>
                <input id="saleDate" class="form-control" type="text" ng-model="currentRecord.saleDate"/>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input id="price" class="form-control" type="text" ng-model="currentRecord.price"/>
            </div>
            
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input id="quantity" class="form-control" type="text" ng-model="currentRecord.quantity"/>
            </div>
            <div class="form-group">
                <label for="userName">User</label>
                <input id="userName" class="form-control" type="text" ng-model="currentRecord.userName"/>
            </div>
        </form>
    </div>
</div>