<div ng-controller="saleCtrl as countryCtrl">
    <div id="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#country-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Sales</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="country-navbar">
                    <button id="createBtn" class="btn btn-default navbar-btn" ng-hide="countryCtrl.editMode" ng-click="countryCtrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Create</button>
                    <button id="refreshBtn" class="btn btn-default navbar-btn" ng-hide="countryCtrl.editMode" ng-click="countryCtrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                    <button id="saveBtn" class="btn btn-default navbar-btn" ng-show="countryCtrl.editMode" ng-click="countryCtrl.saveRecord()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                    <button id="cancelBtn" class="btn btn-default navbar-btn" ng-show="countryCtrl.editMode" ng-click="countryCtrl.fetchRecords()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>
        </nav>
    </div>
    <div ng-show="countryCtrl.error.show" ng-message="show" class="alert alert-danger" role="alert">
        <strong>Error!</strong> {{countryCtrl.error.msg}}
    </div>
    <div ng-hide="countryCtrl.editMode">
        <table id="recordList" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Population</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in records">
                    <td>{{record.name}}</td>
                    <td>{{record.population}}</td>
                    <td>
                        <button id="editBtn" class="btn btn-default btn-sm" ng-click="countryCtrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                        <button id="deleteBtn" class="btn btn-default btn-sm" ng-click="countryCtrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination total-items="totalItems" ng-model="currentPage" ng-change="countryCtrl.pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="itemsPerPage"></pagination>
    </div>
    <div ng-show="countryCtrl.editMode">
        <form name="countryForm" role="form">
            <input id="id" class="form-control" type="text" ng-model="currentRecord.id"/>
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name"/>
            </div>
            <div class="form-group">
                <label for="population">Population</label>
                <input id="population" name="population" class="form-control" type="number" ng-model="currentRecord.population"/>
            </div>
        </form>
    </div>
</div>